<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Check result</title>
    <style>
        .row {
            margin-top: 20px;
        }

        .btn {
            margin-bottom: 10px;
        }

        .link {
            margin-right: 10px;
            font-size: 25px;
            color: black;
        }

        .link:hover {
            border-bottom: 3px black solid;
        }

        .active {
            border-bottom: 3px black solid;
        }

        .update {
            color: #1b5e20;
            cursor: pointer;
        }

        .delete {
            color: #d50000;
            cursor: pointer;
        }

        @media screen and (max-width: 1000px) {
            .link {
                font-size: 17px;
            }
        }
    </style>
</head>
<body class="grey lighten-5">
<div id="app">
    <div class="container">
        <div style="margin-top: 10px">
            <nav class="teal accent-4">
                <div class="nav-wrapper center">
                    <div class="col s12">
                        <a href="/" class="link">Bot function</a>
                        <a href="/intarfaces" class="link">Intarface</a>
                        <a href="/writingCodes" class="link">Writing code</a>
                        <a href="/checkResults" class="link active">Check result</a>
                    </div>
                </div>
            </nav>
            <div v-if="visible3">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="test Id" v-model="number">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="test City" v-model="start">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="test Intarface" v-model="ct">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="test Humidity" v-model="temp">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="test Main" v-model="hum">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="test Temperature" v-model="weather">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="city Id" v-model="ctId">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="id Intarface" v-model="idInt">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="dependencies Id" v-model="depId">
                    </div>
                </div>
                <button class="waves-effect waves-light btn" @click="add()"><i class="material-icons left">add_circle</i>Добавить новую запись</button>
            </div>
            <table v-if="visible">
                <thead>
                <tr>
                    <th scope="col">test Id</th>
                    <th scope="col">test City</th>
                    <th scope="col">test Intarface</th>
                    <th scope="col">test Humidity</th>
                    <th scope="col">test Main</th>
                    <th scope="col">test Temperature</th>
                    <th scope="col">city Id</th>
                    <th scope="col">id Intarface</th>
                    <th scope="col">dependencies Id</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="value in info">
                    <th scope="row">{{ value.testId }}</th>
                    <td>{{ value.testCity }}</td>
                    <td>{{ value.testIntarface }}</td>
                    <td>{{ value.testHumidity }}</td>
                    <td>{{ value.testMain }}</td>
                    <td>{{ value.testTemperature }}</td>
                    <td>{{ value.botFunction.cityId }}</td>
                    <td>{{ value.intarface.idIntarface }}</td>
                    <td>{{ value.writingCode.dependenciesId }}</td>
                    <td style="cursor: pointer;">
                        <i class="material-icons update" @click="updateID(value)">border_color</i>
                    </td>
                    <td>
                        <i class="material-icons delete" @click="deleteID(value)">delete</i>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row" v-if="visible2">
                <div class="col">
                    <input type="text" class="form-control" placeholder="test City" v-model="start">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="test Intarface" v-model="ct">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="test Humidity" v-model="temp">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="test Main" v-model="hum">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="test Temperature" v-model="weather">
                </div>
            </div>
            <div style="margin-top: 10px;" v-if="visible2">
                <button type="button" class="btn btn-success" @click="updateClient()">Сохранить</button>
                <button type="button" class="btn btn-secondary" @click="back()">Отмена</button>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            visible: true,
            visible2: false,
            visible3: true,
            info: null,
            number: null,
            start: '',
            ct: '',
            temp: '',
            hum: '',
            weather: '',
            ctId: '',
            idInt: '',
            depId: '',
        },
        mounted () {
            axios.get('http://localhost:4002/checkResult')
                .then((response) => {
                    this.info = response.data;
                });
        },
        methods: {
            deleteID(value) {
                this.number = value.testId;
                axios.delete('http://localhost:4002/checkResult/' + this.number)
                    .then((response) => {
                        window.location.reload();
                    }).catch((e) => {
                    console.log(e.message);
                    alert('Ошибка');
                });
            },
            updateID(value) {
                this.number = value.testId;
                this.start = value.testCity;
                this.ct = value.testIntarface;
                this.temp = value.testHumidity;
                this.hum = value.testMain;
                this.weather = value.testTemperature;
                this.ctId = value.botFunction.cityId;
                this.idInt = value.intarface.idIntarface;
                this.depId = value.writingCode.dependenciesId;
                this.visible = false;
                this.visible2 = true;
                this.visible3 = false;
            },
            updateClient() {
                axios.put('http://localhost:4002/checkResult/' + this.number, {
                    'testId': this.number,
                    'testCity': this.start,
                    'testIntarface': this.ct,
                    'testHumidity': this.temp,
                    'testMain': this.hum,
                    'testTemperature': this.weather,
                    'botFunction': {
                        'cityId': this.ctId,
                    },
                    'intarface': {
                        'idIntarface': this.idInt,
                    },
                    'writingCode': {
                        'dependenciesId': this.depId,
                    },
                }).then((response) =>{
                    window.location.reload();
                }).catch((e) => {
                    console.log('error', e);
                    if(e.message === 'Request failed with status code 404') {
                        console.log(e.message);
                    } else {
                        alert('Ошибка');
                    }
                });
            },
            back() {
                this.number = '';
                this.start = '';
                this.ct = '';
                this.temp = '';
                this.hum = '';
                this.weather = '';
                this.ctId = '';
                this.idInt = '';
                this.depId = '';
                this.visible2 = false;
                this.visible = true;
                this.visible3 = true;
            },
            add() {
                axios.post('http://localhost:4002/checkResult', {
                    'testId': this.number,
                    'testCity': this.start,
                    'testIntarface': this.ct,
                    'testHumidity': this.temp,
                    'testMain': this.hum,
                    'testTemperature': this.weather,
                    'botFunction': {
                        'cityId': this.ctId,
                    },
                    'intarface': {
                        'idIntarface': this.idInt,
                    },
                    'writingCode': {
                        'dependenciesId': this.depId,
                    },
                }).then((response) => {
                    window.location.reload();
                }).catch((e) => {
                    console.log('error', e);
                    if(e.message === 'Request failed with status code 404') {
                        console.log(e.message);
                    } else {
                        alert('Ошибка');
                    }
                });
            }
        }
    })
</script>
</body>
</html>