<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Bot function</title>
    <style>
        .row {
            margin-top: 20px;
        }

        .btn {
            margin-bottom: 10px;
        }

        .link {
            margin-right: 10px;
            font-size: 25px;
            color: black;
        }

        .link:hover {
            border-bottom: 3px black solid;
        }

        .active {
            border-bottom: 3px black solid;
        }

        .update {
            color: #1b5e20;
            cursor: pointer;
        }

        .delete {
            color: #d50000;
            cursor: pointer;
        }

        .collection-item {
            display: flex;
        }

        .itemlist {
            margin-right: 50px;
        }

        .itemlist:last-child {
            margin-right: 0;
        }

        @media screen and (max-width: 1000px) {
            .link {
                font-size: 17px;
            }
        }
    </style>
</head>
<body class="grey lighten-5">
<div id="app">
    <div class="container">
        <div style="margin-top: 10px">
            <nav class="teal accent-4">
                <div class="nav-wrapper center">
                    <div class="col s12">
                        <a href="/" class="link active">Bot function</a>
                        <a href="/intarfaces" class="link">Intarface</a>
                        <a href="/writingCodes" class="link">Writing code</a>
                        <a href="/checkResults" class="link">Check result</a>
                    </div>
                </div>
            </nav>
            <div v-if="visible">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="city ID" v-model="number">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Начальная команда" v-model="start">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Город" v-model="ct">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Температура" v-model="temp">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Влажность" v-model="hum">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Погода" v-model="weather">
                    </div>
                </div>
                <button class="waves-effect waves-light btn" @click="add()"><i class="material-icons left">add_circle</i>Добавить новую запись</button>
                <button class="waves-effect waves-light btn" @click="sortbtn()">Отсортировать по алфавиту</button>
            </div>
            <input v-if="visible" v-model="search" type="text" placeholder="Фильтр по городу" style="margin-top: 30px;">
            <table v-if="visible">
                <thead>
                <tr>
                    <th scope="col">city Id</th>
                    <th scope="col">Начальная команда</th>
                    <th scope="col">Город</th>
                    <th scope="col">Температура</th>
                    <th scope="col">Влажность</th>
                    <th scope="col">Погода</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="value in filteredId">
                    <th scope="row">{{ value.cityId }}</th>
                    <td>{{ value.commandStart }}</td>
                    <td>{{ value.city }}</td>
                    <td>{{ value.temperature }}</td>
                    <td>{{ value.humidity }}</td>
                    <td>{{ value.main }}</td>
                    <td>
                        <i class="material-icons update" @click="updateID(value)">border_color</i>
                    </td>
                    <td>
                        <i class="material-icons delete" @click="deleteID(value)">delete</i>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row" v-if="visible2">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Город" v-model="ct">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Температура" v-model="temp">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Влажность" v-model="hum">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Погода" v-model="weather">
                </div>
            </div>
            <div style="margin-top: 10px;" v-if="visible2">
                <button type="button" class="btn btn-success" @click="updateClient()">Сохранить</button>
                <button type="button" class="btn btn-secondary" @click="back()">Отмена</button>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            visible: true,
            visible2: false,
            info: [],
            number: '',
            start: '',
            ct: '',
            temp: '',
            hum: '',
            weather: '',
            search: '',
        },
        mounted () {
            axios.get('http://localhost:4002/botFunction')
                .then((response) => {
                    this.info = response.data;
                });
        },
        computed: {
          filteredId() {
              return this.info.filter((value) => {
                  if(this.search === '')
                      return true;
                  else
                      return value.city.toUpperCase().match(this.search.toUpperCase());
              });
          }
        },
        methods: {
            deleteID(value) {
                this.number = value.cityId;
                axios.delete('http://localhost:4002/botFunction/' + this.number)
                    .then((response) => {
                        window.location.reload();
                    }).catch((e) => {
                    console.log(e.message);
                    alert('Ошибка');
                });
            },
            sortarr(x, y) {
                return x.city.localeCompare(y.city);
            },
            sortbtn() {
                var s = this.info.sort(this.sortarr);
            },
            updateID(value) {
                this.number = value.cityId;
                this.start = value.commandStart;
                this.ct = value.city;
                this.temp = value.temperature;
                this.hum = value.humidity;
                this.weather = value.main;
                this.visible = false;
                this.visible2 = true;
            },
            updateClient() {
                axios.put('http://localhost:4002/botFunction/' + this.number, {
                    'cityId': this.number,
                    'commandStart': this.start,
                    'city': this.ct,
                    'temperature': this.temp,
                    'humidity': this.hum,
                    'main': this.weather
                }).then((response) =>{
                    window.location.reload();
                }).catch((e) => {
                    console.log('error', e);
                    if(e.message === 'Request failed with status code 404') {
                        console.log(e.message);
                    } else {
                        alert('Ошибка');
                    }
                });
            },
            back() {
                this.number = '';
                this.start = '';
                this.ct = '';
                this.temp = '';
                this.hum = '';
                this.weather = '';
                this.visible2 = false;
                this.visible = true;
            },
            add() {
                axios.post('http://localhost:4002/botFunction', {
                    'cityId': this.number,
                    'commandStart': this.start,
                    'city': this.ct,
                    'temperature': this.temp,
                    'humidity': this.hum,
                    'main': this.weather
                }).then((response) => {
                    window.location.reload();
                }).catch((e) => {
                    console.log('error', e);
                    if(e.message === 'Request failed with status code 404') {
                        console.log(e.message);
                    } else {
                        alert('Ошибка');
                    }
                });
            }
        }
    })
</script>
</body>
</html>